/************  MENU CONFIG  **************/
#sa-menu-left{
    height:max-content;
    width: 50%;
	font-size: 2em;
    margin-left: 10px;
}

#sa-menu-center{
    height:max-content;
    width: 25%;
    margin-right: 15px;
}

.list-group{
    font-size: 12px;
    color: black;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 190px;
}

.list-group :active{
    color: white;
}

#sa-menu-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:max-content;
    padding-bottom: 0%;
	width: 20%;
    margin: 0;
}

.sa-menu-bottom{
    height:max-content;
	font-size: 2em;
}

.form-check-label{
    padding-left: 7px;
    padding-right: 15px;
}

/************  DIVS  **************/
#body-col{
    padding: 0px;
    height: 102vh;
    margin: 0px;
    margin-left: 100px;
}

.screen{
    height:102vh;
}

/****************  GRAFICOS  ******************/
.chartFlex{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: 15px;
}

.chartBox{
    height: 280px;
    margin-top: 15px;
    padding: 5px;
    margin: 0;
}

.titleCharts{
    width: 320px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chartBoxSL{
    width: 460px;
    height: 280px;
    padding: 5px;
    margin: 0;
}

.btnChartSL{
    width: 230px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.chartBoxSLFlex{
    display: flex;
    align-items: center;
}

#chartSLKA, #chartSLOT{
    height: 280px;
    top: 15px;
    padding: 5px;
    margin: 0;
}

.legendBox{
    font-size: 13px;
    margin-left: 10px;
}

/****************  MAPAS  ******************/
#sa-map1-div{
    padding:0;
    width: 25%;
}

#sa-map2-div{
    padding:0;
    width: 25%;
}

#sa-map3-div{
    padding:0;
    width: 25%;
}

#sa-map4-div{
    padding:0;
    width: 25%;
}

/****************  TABELA  ******************/
#tableSAL{
	font-size: 2rem;
	text-align: center;
}

/*****************  BOTOES  ******************/
.clickBtn{
    width: 170px; /*-webkit-fill-available;*/
    height: 40px; /*15%*/
    padding: 5% 10% 5% 10%;;
    text-align: center;
    font-size: 2em;
    background: #9F86FF;
    border-radius: 6px;
	cursor: pointer;
    margin-top: 25px;
}

.smallBtn{
    width: 50px;
    height: 36px;
    background: #1997c6;
	cursor: pointer;
    text-align: center;
    font-size: 2em;
}

.resetBtn{
    width: 170px; /*-webkit-fill-available;*/
    height: 40px; /*15%*/
    padding: 5% 10% 5% 10%;;
    text-align: center;
    font-size: 2em;
    background: #9F86FF;
    border-radius: 6px;
	cursor: pointer;
}

/*****************  TRACKING LINES  ******************/

#chart_div .google-visualization-orgchart-linebottom {
    border-bottom: 1px solid #fff;
}
  
#chart_div .google-visualization-orgchart-lineleft {
    border-left: 1px solid #fff;
}
  
#chart_div .google-visualization-orgchart-lineright {
    border-right: 1px solid #fff;
}
  
#chart_div .google-visualization-orgchart-linetop {
    border-top: 1px solid #fff;
}

#chart_div:hover {
    zoom: 175%;
    overflow: scroll;
}